$pagelayout-width: 80%;


body {
    scroll-behavior: smooth;
    margin-top: 0;
}

.first-content {
    width: 100%;
    height: 500px;
    background-image: url(../img/transport-in-vietnam.jpg);
    color: white;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;

        h1 {
            font-size: 150px;
        }

    }
}

.second-content{
    width: $pagelayout-width;
    margin: auto;
    padding: 50px 0;
    font-size: 20px;
    .inner-second-content{
        display: flex;
        gap: 40px;
        padding: 50px 0;
        border-top: 1px solid black;
        img{
            width: 40%;
        }
        p{
            line-height: 120%;
        }
    }
}