$color_1: #5B99C2;
$background-color_1: #fff5eb;
$fontfamily_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$font-family_2: "Zain", sans-serif;
$pagelayout-width: 80%;

nav {
    background-color: rgba(0, 0, 0, 0.9);
}

body {
    scroll-behavior: smooth;
}

.first-content {
    width: $pagelayout-width;
    margin: auto;
    margin-bottom: 100px;

    h1 {
        text-align: center;
        margin: 110px 0 70px;
        font-size: 50px;
        font-family: $fontfamily_1;
        background-color: $color_1;
        color: white;
        padding: 20px 0;
        border-radius: 5px;
    }

    table {
        background-color: rgb(199, 198, 198);
        width: 80%;
        margin: auto;
        font-family: $font-family_2;
        border-radius: 5px;
        cursor: pointer;

        tr {
            background-color: $color_1;
            color: white;
            font-size: 25px;
            border-radius: 5px;
            th {
                border-radius: 5px;
                padding: 10px;
            }
        }

        .info {
            background-color: rgb(199, 198, 198);
            color: black;
            font-size: medium;

            th {
                font-weight: lighter;
            }
        }
    }

    table,
    tr,
    th {
        border: 1px solid black;
    }
}